<main>
    <div class="container-produto" *ngIf="produto">
        <div class="galeria-imagens-produto">
            <img [src]="imagemPrincipal" alt="Imagem principal do produto" class="imagem-principal-produto">
            <div class="galeria-miniaturas">
                <img *ngFor="let imagem of miniaturas" [src]="imagem" (click)="trocarImagemPrincipal(imagem)"
                    [class.ativa]="imagem === imagemPrincipal" class="miniatura" />
            </div>
        </div>

        <div class="detalhes-produto"  >
            <h1 class="titulo-produto">{{produto.nome}}</h1>
            <p class="categoria-produto">{{produto.categoria}}</p>
            <p class="preco-produto">R$ {{produto.valor}} <span class="metodo-pagamento">no Pix</span></p>

            <!-- <div class="opcoes-cor">
                <p class="rotulo-opcao">Cores e modelos</p>
                <div class="amostras-cor">
                    <div class="amostra-cor verde"></div>
                    <div class="amostra-cor roxa"></div>
                </div>
            </div> -->

            <div class="opcoes-tamanho">
                <p class="rotulo-opcao">Tamanho e numeração</p>
                <div class="botoes-tamanho">
                    <button class="botao-tamanho">{{produto.tamanho}}</button>
                </div>
            </div>

            <div class="acoes">
                <button class="botao-adicionar-carrinho" (click)="AdicionarNoCarrinho()">Adicionar ao carrinho</button>
                <button class="botao-salvar-favoritos" (click)="AdicionarAoFavorito()">Salvar como favoritos</button>
            </div>
        </div>
    </div>   
</main>