.container-produto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-mae{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
      font-family: 'Poppins', sans-serif; 
}

.product-card-container {
  font-family: 'Poppins', sans-serif; 
  width: 300px;
  background-color: #fff;
  border-radius: 0 16px 0  16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; 
}
a{
  text-decoration: none;
}

.product-card-container:hover{
  transform: scale(1.03);
}

.product-image-container {
  position: relative;

}

.product-image {
  width: 100%;
  height: 239px;
  
}

.favorite-icon-container {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.favorite-icon-container svg {
  width: 18px;
  height: 18px;
  color: #333;
  stroke: #333;
  stroke-width: 2px;
  fill: none;
  transition: all 0.2s ease;
}

.favorite-icon-container:hover svg {
  fill: #ff0000;
  stroke: #ff0000;
}

.product-details-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-category {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.product-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.product-price {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin: 16px 0 4px 0;
}

.product-installments {
  font-size: 14px;
  color: #888;
  margin: 0;
}