/* TÍTULO CENTRALIZADO */
.titulo {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
}

/* Container geral */
.container-mae {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

/* GRID DE CARDS */
.container-produto {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  
}

/* CARD */
.product-card-container {
  width: 300px;
  background-color: #fff;
  border-radius: 0 16px 0 16px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card-container:hover{
  transform: scale(1.03);
}

a{
  text-decoration: none; 
}

/* IMAGEM */
.product-image-container {
  position: relative;
  width: 100%;
  height: 239px;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CORAÇÃO */
.favorite-icon-container {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
}

.favorite-icon-container svg {
  width: 18px;
  height: 18px;
  stroke: #333;
  transition: 0.2s;
}

.favorite-icon-container:hover svg {
  fill: #ff0000;
  stroke: #ff0000;
}

/* DETALHES */
.product-details-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.product-category {
  font-size: 14px;
  color: #888;
}

.product-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.product-price {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin: 16px 0 4px 0;
}

.product-installments {
  font-size: 14px;
  color: #888;
}
